<div ng-controller="ViewCtrl">
	<div ng-class="!grid.visible ? 'dbsapp-page-inactive' : 'dbsapp-page-active'">
		<div ng-repeat="r in grid.gridRows" class="row dbsapp-row" droppable-area dragover-area drophandler="dropHandler" data-dbsapp-row="{{$index}}">
			<dbsapp-chart ng-repeat="c in cells | filter: {row: r.row, page: grid.page} | orderBy: '+cell'" class="dbsapp-cell col-md-{{12 / r.cells}}"
				draggable-cell dragover-area data-dbsapp-row="{{c.row}}" data-dbsapp-cell="{{c.cell}}" dbsapp-id="cell-{{c.uuid}}" response="c.response" data="c.data" conf="c.conf" load="true" settings-click="showEditor(c.uuid)">
			</dbsapp-chart>
		</div>
	</div>
</div>